@model DDW.Core.ViewModels.ResourceCategoriesListViewt

@{
    ViewBag.Title = "Index";
}
<section class="search-s">
    <div class="menu divider">
        <div class="search-functions">
            <a href="@Url.Action("Index","Home")">
                <img class="logo" src="~/Content/Img/logo.svg" alt="DarkDarkWeb">
            </a>
        </div>
        @Html.Partial("_AdminFunctions")
    </div>
</section>



<section class="search-s flex">
    <div class="search-categories">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "category active" : "category" })
        @foreach (var cat in Model.Categories)
        {
            @Html.ActionLink(cat.CategoryName, "Index", new { Category = cat.CategoryName }, new { @class = Request["Category"] == cat.CategoryName ? "category active" : "category" })
        }
    </div>
    <div class="search-return">
        <div class="search-return--header">
            <h5 class="resource-number">Found @Model.Resources.Count() resources</h5>
            <a href="@Url.Action("Create")" class="add">
                <i class="fas fa-plus"></i>
                <h4 class="menu-item-title">Create New</h4>
            </a>
        </div>

        @foreach (var resource in Model.Resources)
        {
            <div class="resource-search">
                <a target="_blank" rel="noopener noreferrer" href="@resource.URL" class="resource-search--name">@resource.ResourceName</a>
                <span class="resource-search--link">@resource.URL</span>
                <div class="resource-search-meta">
                    <h3 class="resource-search--category">Category: <a href="@Url.Action("Index", new { Category = resource.Category.CategoryName})">@resource.Category.CategoryName</a></h3>
                    <h5 class="resource-search--date">@resource.RefreshDate.Day @resource.RefreshDate.ToMonthName(), @resource.RefreshDate.Year</h5>
                </div>
                <div class="resource-search--details">
                    <p class="resource-search--description">@resource.Description</p>
                    @foreach (var keyword in resource.Keywords)
                    {
                        <span class="resource-search--keyword">@keyword.KeywordName</span>
                    }              
                </div>
                <div class="resource-search--more"><i class="fas fa-chevron-down arrow"></i></div>
            </div>
        }

    </div>
</section>

